# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test Files

*.nii.gz
*.npy
*.pt
*.pth
*.pyc
*.env
*.tar
*.csv
pipeline.v2/results/*
pipeline.v2/uploads/*
pipeline1/