# do not commit data folder, please run and generate data instead por favor :D
data/*
data_unilateral/*
data_unilateral/*
class0/*
class1/*
Preliminary Dataset and Model Screening/Dataset Access/TCIA/TRAINING_STRATEGY.md
